<form action="#" th:action="@{/all}" th:object="${form}"
  method="get">
    <fieldset>
        <input type="submit" id="submitButton" th:value="Save">
        <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
        <table>
            <thead>
                <tr>
                    <th> Title</th>
                    <th> Author</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="property, itemStat : *{properties}">
                    <td><input th:field="*{properties[__${itemStat.index}__].price}" /></td>
                    <td><input th:field="*{properties[__${itemStat.index}__].id}" /></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>